doctype
html
  head
    title Mobile Opportunity Project
    if environment != "development"
        base(href="https://mozilla.github.io/mobile-opportunity/")
    else
        base(href="/")
    link(rel="stylesheet" href="main.css")
  body
    .wrapper
        header
            h1 
                a(href="") Mobile Opportunity Research
            if environment == "development"
                p Okay, Harp is in development mode right now.  
            p This website documents the ongoing work by the Mobile Opportunity project team at Mozilla.
            
            h3
                a(href="goals") Goals
            h3 
                a(href="approach") Approach
            h3 
                a(href="plan") Plan
            h3 
                a(href="voices") Voices
            h3
                a(href="docs") Mockups, Demos & Reports
            p Our work is public.  You can track our
              <a href="wiki.mozilla.org/Mobile_Opportunity">wiki documentation</a>
              , as well as our <a href="https://github.com/mozilla/mobile-opportunity/issues/milestones">issue tracking</a>.
              
            p This website is authored in github, edits via <a href="https://github.com/mozilla/mobile-opportunity/tree/gh-pages/_harp">pull requests</a> or <a href="https://github.com/mozilla/mobile-opportunity/issues/new">issues</a> are welcome.


    section
        != yield
    
        != partial("_comments")

