h1 Goals

p The goals of this project are varied, befitting the potential long-term impact of the changes that we see possible.

div.sidebar
    p While we will use terms like <em>research</em> and <em>hypothesis</em>, we do not claim to use a rigorous scientific approach at this time.  Given the time and budgetary constraints, we're hoping to articulate hunches (especially from collaborators in the field), learn about the perceived needs of a variety of user populations, build prototypes derived from those hunches, and test them qualitatitvely.

p The kinds of research questions that we hope to answer at this point include the following:

ul
  li Are there categories of "content" which non-developers would enjoy using, making customized versions thereof, and distributing to their local social network?
  li What are the kinds of interactions that are most amenable to this kind of user-generated apps?
  li What are the affordances that make this kind of personal app customization easy or hard?  Do strong brands help or hinder engagement with these kinds of creativity platforms?
  
h2 Hopes we 