h1 What

p This website documents the ongoing work by the Mobile Opportunity project team at Mozilla.

p Over the course of next few months, we will be engaging in a multidisciplinary research project considering the opportunities for both individuals and commercial actors of a mobile internet platform designed to allow non-programmers to easily create and distribute locally relevant mobile content.

h1 Why

p  
    a(href="http://www.flickr.com/photos/stuckincustoms/3011978673/")
        img(src="img/family_on_bike.jpg")

p Web-enabled "smartphones" are increasingly going to be available for sale in emerging economies (thanks to both the lowering cost of these devices, the arrival of better telecommunication infrastructure). These phones are different than the phones that drove adoption in the richer markets, and there are many questions as to whether the models that have worked in e.g. Europe and North America will work, whether thinking about adoption patterns, usage patterns, demand and supply ecosystems, distribution and monetization models, etc.

p While we can expect the existing models to be applied globally and have definite success (especially as they adapt to feedback), we believe it is worth seeking innovations in the field of app authoring and distribution models in particular. By working with communities engaged in Mozilla's learning and technology communities, testing our approaches in the field, and working with partners who share our interest in new models of local content creation, we hope to to facilitate the creation of content by non-traditional participants in the mobile content ecosystem.

h1 How

p Please see our public <a href="goals">goals, <a href="approach">approach</a> and <a href="plan">plan</a> to understand the process we will use for this project.  We welcome contributions, so feel free to <a href="mailto:da@mozillafoundation.org">get in touch</a>.

h1 When

p This project is starting in June 2014, and is expected to continue until at least November 2015, at which point we will perform a high-level assessment about next steps.

h1 Who

p This is a Mozilla-led project involving a broad set of partners, including the <a href="http://www.gsma.com/">GSMA</a>.  

The points of contact are David Ascher (<a href="mailto:da@mozillafoundation.org">da@mozillafoundation.org</a>) and Ben Moskowitz (<a href="mailto:ben@mozillafoundation.org">ben@mozillafoundation.org</a>).