h1#plan Plan of record

blockquote
    p In preparing for battle, I have always found that plans are useless but planning is indispensable
    div.quoter Dwight D. Eisenhower

p This is a living document.  Events in the past will be marked with a <span class="done">checkbox and in blue</span>, while events in the future will be in the default dark gray type. 

.update Last update: May 31, 2014

h3 Project kick-off

ul.planlist
  li.done The project gets formal approval by executive champions.

h3 Foundation Setting

ul.planlist
  li.future This phase is all about clarifying goals, approaches, plans, resourcing model, budget, contribution and communication models, program management approach, etc.

h3 Review of foundational market and user research

h3 Initial hypothesis testing
