script(src="js/json2.js")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js")
script(src="js/moment-2.5.1.js")
script(src="js/clndr.min.js")
script(src="js/site.js")
h1#plan Plan of record

blockquote
    p In preparing for battle, I have always found that plans are useless but planning is indispensable
    div.quoter Dwight D. Eisenhower

p This is a living document.  Events in the past will be marked with a <span class="done">checkbox and in blue</span>, while events in the future will be in the default dark gray type. 

.update Last update: June 15, 2014

h3 Project kick-off

ul.planlist
  li.done 
    span The project gets formal approval by executive champions.
  li.future 
    span Presentation at Mozilla all-hands project meeting.

h3 Foundation Setting

ul.planlist
  li.future This phase is all about clarifying goals, approaches, plans, resourcing model, budget, contribution and communication models, program management approach, etc.

h1 Calendar of Events

link(rel="stylesheet",href="styles/clndr.css")
script(type="text/template",id="template-calendar").
  <div class='clndr-controls'>
    <div class='clndr-control-button'><span class='clndr-previous-button'>previous</span></div><div class='month'><%= month %> <%= year %></div><div class='clndr-control-button rightalign'><span class='clndr-next-button'>next</span></div>
    </div>
  <table class='clndr-table' border='0' cellspacing='0' cellpadding='0'>
    <thead>
    <tr class='header-days'>
    <% for(var i = 0; i < daysOfTheWeek.length; i++) { %>
      <td class='header-day'><%= daysOfTheWeek[i] %></td>
    <% } %>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < numberOfRows; i++){ %>
      <tr>
      <% for(var j = 0; j < 7; j++){ %>
      <% var d = j + i * 7; %>
      <td class='<%= days[d].classes %>'><div class='day-contents'><%= days[d].day %> 
      <% if (days[d].events.length) { %>
        <% for(var k=0; k<days[d].events.length; k++){ %>
          <p>
          <%= days[d].events[k].title %>
          </p>
        <% } %>
        <% } %>
      </div></td>
      <% } %>
      </tr>
    <% } %>
    </tbody>
  </table>

div.cal1

div#day
ul#events