h1 Research Questions

p This is a record of the research questions that have come up.  Some will lead to prototypes and testing, others not.  They are grouped for convenience only.

h2 Distribution

h3 <a href="questions/onlyappstores">Are Appstores the only distribution model for content?</a>

h3 <a href="questions/p2pmeans">What could peer-to-peer app sharing look like?</a>