h1.questionheading Are Appstores the only viable app distribution model?

div.author David Ascher

p Appstores are one of the defining characteristics of the modern smartphone ecosystem.  Much has been written about the economic value to the appstore operator of that central control.  I'm curious whether different countries have different affinity for strongly branded appstores.  

p Do old democracies, where central control has been a mainstream political structure for hundreds of years, result in markets that are comfortable with a single supplier?  Are there economic indicators that suggest that different countries naturally “prefer” more or less centralized acquisition of media?  Is centralization of supply always tied to economic development and consolidation of a mature market?