h1#background Background Research

p Our work is based on research from others as well as ourselves.  Here are some of the more notable bits of prior research which have influenced our thinking.

h2 Prior Mozilla Research

ul
    li …
    li …
    li …


h2 Third party sources

ul
    li …
    li …
    li …

