h1 Approach

p There are many possible approaches to the questions that we are hoping to answer.  Due to the multiplicity of perspectives, it seems worthwhile to state our working assumptions and non-goals, as they have as much impact on our approach choices as our goals.

h2 An optimistic research mindset

p While we have opinions about the charactersitics of technological architectures which we feel power a humane and dynamic web, we are also quite aware that decisions made in one context often aren't appropriate, applicable, or even simply useful in another context.  We will therefore enter debates with a curious and constructive approach -- what is going on here, what are the overlapping interests among all of the parties involved, and can we come up with an experiment which would satisfy many of these interests?

h2 Progressive refinement and iteration

p It is clear that a 6-month project will at best point a general direction for futher work.  We're satisfied with that level of certainty in even the most successful outcome, as from that general direction we can hope a later stage of work could provide further refinement.  Even within the 6-month project period, we will engage in iterations that will ask progressively sharper questions.  

h3 Needs & Opportunity analysis

p Our initial explorations will likely be conceptual and quite far removed from technology.  We'll ask questions (both of individuals and of analysts and data sets) like:

ul
  li which parts of your life do you hope smartphones will help with?
  li Who are the people that you connect with regularly, or that you want to connect with more?  
  li what kinds of apps do you most enjoy? why?
  
h3 Hypothesis-driven prototypes

p This high level analysis will help us formulate more specific hypotheses, which we will then test with prototypes of various fidelity.  Currently envisioned prototypes include:

ul
  li specific app generation experiences (e.g. artisanal shop-on-a-phone, instructional local resources, etc.), informed by the earlier research. 
  li interaction models for sharing on-device-authored applications from one user to their contacts
  li local distribution models that are appropriate in both rural and urban settings, and connected to existing socio-economic infrastructure
  li explorations of the kinds of feedback and review systems which make sense for content authored by peers rather than institutional and commercial actors

h3 Software & Design prototypes

p As we dig into the higher level questions around kinds of content, distribution models, discovery and feedback, we expect to shift to higher fidelity prototypes that will surface not only the technological capabilities which may need invention, but also remove the layers of interpretation inherent in either abstract problem presentation or low-fidelity prototypes.  We expect to test things on various platforms, especially FirefoxOS on a few hardware platforms and Firefox for Android, to combine rapid prototyping capabilities while at the same time forcing us to confront the places where our prototypes may not fit with practical technical constraints.

h2 Networked multi-scale teamwork, open to participation at all levels

p Field testing will occur in at least three different geographies (India, Bangladesh, Brazil).  We are privileged to belong to various networks (both Mozilla-specific and otherwise) of individuals and communities around the world who may want to participate in various capacities.  We will both intentionally structure the program to allow both for local teams to move fast and engage with local communities without the burden of either central control or internet mediation, as well as regular, coordination meetings, where information can flow along all of the various network links.

h2 Regular communications

p There will be a set of final reports at the conclusion of the project, but we believe it critical to communicate broadly and specifically along the way as well.  Our insights, questions, explorations, blind alleys, interim successes and failures will be published periodically.  This kind of open communication will make it easier for the project contributors to understand what's going on, as well as hopefully be an invitation to new participants, especially those who may not be connected to Mozilla yet, but who have distinct experience in related fields.

