.wrapper
    header
        h1 Mobile Opportunity Research

        p this is just a body
      
        h3 Research goals
        h3 Research plan
        h3 Research Reports

section
    h3 Intro
    p this is a paragraph
    p this is another